body {
  background-color: #20232a;
}
span {
  font-size: 40px;
  font-weight: bold;
  margin: 0 16px;
  text-transform: capitalize;
}
.react {
  color: #61dafb;
}
.vue {
  color: #4fc08d;
}
.angular {
  color: #f4597b;
}